@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500;700&display=swap');

:root {
    --slate-300: #cbd5e1;
    --slate-400: #94a3b8;
    --slate-600: #475569;
    --slate-800: #1e293b;

    --zinc-900: #18181b;

    --green-600: #16a34a;
    --green-900: #14532d;
    --green-950: #052e16;
    
    --red-500: #ef4444;
    --red-600: #dc2626;
    --red-700: #b91c1c;
    --orange-500: #f97316;
    --orange-600: #ea580c;
    --orange-700: #c2410c;
    --yellow-500: #eab308;
    --yellow-600: #ca8a04;
    --yellow-700: #a16207;
    --lime-500: #84cc16;
    --lime-600: #65a30d;
    --lime-700: #4d7c0f;
    --blue-500: #3b82f6;
    --blue-600: #2563eb;
    --blue-700: #1d4ed8;
}

* {
    box-sizing: border-box;
    font-family: 'Pixelify Sans', sans-serif;
}


body {
    margin: 0;
    height: 100vh;
    background-color: var(--slate-800);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-duration: 500ms;
}

.title {
    padding: 10px 20px;
    border-radius: 10px;
    border: solid var(--slate-400) 4px;
    background-color: var(--slate-800);
    color: var(--slate-400);
}

.container {
    background-color: var(--slate-600);
    height: 500px;
    border-radius: 50px;
    padding: 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.left-input {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.btn {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border-width: 0;
    font-size: 24px;
    transition-duration: 200ms;
}
.btn:active { transition-duration: 100ms; }

.reset { 
    background-color: var(--green-950);
    color: var(--green-600); 
    font-size: 40px;
    width: 70px;
    height: 70px;
}
.reset:hover { background-color: var(--green-900); }
.reset:active { background-color: var(--green-600); color: var(--green-950); }

.slider {
    padding: 15px 5px;
    border-radius: 20px;
    background-color: var(--slate-800);
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider h3 {
    margin: 0;
    color: var(--slate-300);
    text-align: center;
    font-size: 22px;
    font-weight: 500;
}

input[type="range"][orient="vertical"] {
    appearance: slider-vertical;
    width: 20px;
    height: 150px;
}

.right-input {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.btn[data-color="red"] { background-color: var(--red-500); }
.btn[data-color="red"]:hover { background-color: var(--red-600); }
.btn[data-color="red"]:active { background-color: var(--red-700); }

.btn[data-color="orange"] { background-color: var(--orange-500); }
.btn[data-color="orange"]:hover { background-color: var(--orange-600); }
.btn[data-color="orange"]:active { background-color: var(--orange-700); }

.btn[data-color="yellow"] { background-color: var(--yellow-500); }
.btn[data-color="yellow"]:hover { background-color: var(--yellow-600); }
.btn[data-color="yellow"]:active { background-color: var(--yellow-700); }

.btn[data-color="lime"] { background-color: var(--lime-500); }
.btn[data-color="lime"]:hover { background-color: var(--lime-600); }
.btn[data-color="lime"]:active { background-color: var(--lime-700); }

.btn[data-color="blue"] { background-color: var(--blue-500); }
.btn[data-color="blue"]:hover { background-color: var(--blue-600); }
.btn[data-color="blue"]:active { background-color: var(--blue-700); }

.btn[data-color="random"] { background-color: var(--slate-300); color: var(--zinc-900); }
.btn[data-color="random"]:hover { background-color: var(--slate-400); }
.btn[data-color="random"]:active { background-color: var(--slate-600); }

.screen {
    height: 460px;
    width: 460px;
    background-color: var(--slate-300);
    color: var(--slate-800);
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex: 1;
}

.row > div {
    flex: 1;
}

